<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <!-- Added ngModel and name="email" -->
          <input
            type="text"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
            emailValidator
            placeholder="Input text"
          />
          <span
            id="emailErrorMessage"
            class="text-danger"
            *ngIf="loginForm.submitted && !email"
            >Email is required.</span>
        </div>

        <div class="form__control">
          <label for="password">Password</label>
          <!-- Added ngModel and name="password" -->
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
            placeholder="Input text"
          />
          <span
            id="passwordErrorMessage"
            class="text-danger"
            *ngIf="loginForm.submitted && !password"
            >Password is required.</span>
        </div>
      </div>

      <div>
        <div class="form__action">
          <app-button></app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may <strong>Registration</strong>
        </div>
      </div>
    </div>
  </form>
</div>
